html, body {
  background: #0b2a4a;
  height: 100%;
}

/* Splash screen */
.splash-screen {
  background-color: #f8f9fa; /* Cor de fundo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}

/* Após carregamento */
.splash-screen.hidden {
  opacity: 0;
  pointer-events: none; /* Desativa o clique */
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.15);
  border-top: 1px solid rgba(255,255,255,0.2);
}

.nav-btn {
  border: none;
  background: none;
  font-size: 22px;
  color: #fff;
}

.nav-btn.primary { color: #0d6efd; }
.nav-btn.warning { color: #ffc107; }
.nav-btn.danger  { color: #dc3545; }

.fab {
  background: #0d6efd;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translateY(-25%);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}





